html
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: gray;
}

#topBanner
{
    width: 100%;
}

#topBanner a
{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}

#topBanner img
{
    width: 150px;
    height: 150px;
    padding: 20px;
}

#topBanner h1
{
    font-family: sans-serif;
    color: white;
}

#mainContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#formContainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.midContainer
{
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
    margin-right: 10px;
    margin-left:10px;
}

.cbtn
{
    background-color: lightgreen;
    border: 1px solid black;
    width: 25%;
}

a
{
    color: rgba(0,0,0,1);
    text-decoration: none;
}