html
{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: gray;
}

#mainContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 40px;
    margin-top: 200px;
}

#formContainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.midContainer
{
    display: flex;
    width: 100%;
    flex-direction: row;
    /*border-style: dotted;*/
    margin-right: 10px;
    margin-left:10px;
}

.cbtn
{
    background-color: lightgreen;
    border: 1px solid black;
    width: 25%;
}

a
{
    color: rgba(0,0,0,1);
    text-decoration: none;
}